{% extends 'libro/blog-single.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="mb-3">Latin Mass Tutorial Mobile Application</h2>
        <p>This is mobile application created with the goal of making the Tridentine Catholic Liturgy more approachable to outsiders. 
            It has a introduction and background module with swipable cards to enhance learning and as well as basic latin practice. The app uses Firebase as the backend. The code can be found
            <a href="https://github.com/dave-lanigan/judica-me">here</a>. Watch an example video <a href="https://judica-me.firebaseapp.com/">here</a>. This project is in-development.</p>
    </div>
    </div>
    	
{% endblock%}
