{% extends 'libro/blog-single.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="mb-3">Python Wrapper for the Kyber Network API</h2>
        <p>The <a href="https://developer.kyber.network/docs/Integrations-RESTfulAPIGuide/">Kyber Network's</a> example code for its API is written in javascript. 
        Python, however, is a better language to write code for data analysis and automated trading algorithms, so I made this wrapper 
        for the API to make it easier integrate the kybernetwork into python based projects.
        The code for this project can be found on my GitHub 
        <a href="https://github.com/dave-lanigan/kyber-api-python">here</a>.</p>
    </div>
    </div>
    	
{% endblock%}
