{% extends 'libro/base1.html' %}
{% load static %}

{% block content %}

<section class="ftco-fixed clearfix">
	<div class="image js-fullheight float-left">
	  <div class="home-slider owl-carousel js-fullheight">
		<div class="slider-item js-fullheight" style="background-image: url({% static 'images/code.gif' %});">
		  <div class="overlay"></div>
		  <div class="container">
			<div class="row slider-text align-items-end" data-scrollax-parent="true">
			  <div class="col-md-10 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs"><span><a href="{% url 'davefile:index' %}">Centrum</a></span> <span>PROJECTS</span></p>
				<h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Projects</h1>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div><!-- end:image -->
      	<div class="page-container-no-gutters float-right">
      		<div class="row no-gutters">
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="{% url 'davefile:dota2' %}" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/dota2.jpg' %} );">
	      				<div class="text p-4">
	      					<span>Project</span>
	      					<h3>DOTO 2 Network</h3>
	      				</div>
	      			</a>
      			</div>
				<!--  
				  <div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="blog-single.html" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/image_1.jpg' %} );">
	      				<div class="text p-4">
	      					<span>Project</span>
	      					<h3>Airfoil profile generation tool</h3>
	      				</div>
	      			</a>
				  </div>
				  -->
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="{% url 'davefile:crypto' %}" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/bitcoin.jpg' %} );">
	      				<div class="text p-4">
	      					<span>Project</span>
	      					<h3>Udacity Nanodegree Final Project</h3>
	      				</div>
	      			</a>
      			</div>
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="{% url 'davefile:kybernet' %}" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/kybernet.png' %} );">
	      				<div class="text p-4">
	      					<span>Project</span>
	      					<h3>Kyber Network API Python Wrapper</h3>
	      				</div>
	      			</a>
				  </div>
      			<div class="col-md-6 blog-entry-3 ftco-animate">
      				<a href="{% url 'davefile:gpv' %}" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/gpv.png' %} );">
	      				<div class="text p-4">
	      					<span>Project</span>
	      					<h3>Breadth First Search Visualization</h3>
	      				</div>
	      			</a>
				  </div>
				<div class="col-md-6 blog-entry-3 ftco-animate">
					<a href="{% url 'davefile:judica' %}" class="blog-img d-flex justify-content-center align-items-end" style="background-image: url( {% static 'images/judica-me.png' %} );">
						<div class="text p-4">
							<span>Project</span>
							<h3>Suscipe</h3>
						</div>
					</a>
				</div>

      	</div><!-- end: page-container-->
      </section>
    	
{% endblock %}